/*seletor global -  indica todos os elementos do html */
* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    /* espaço externo */
    padding: 0;
    /* espaço interno */
}

#cabecalho {
    background-color: rgb(245, 10, 10);
    display: flex;
    /*ativo o flexbox para poder alinhar os meus elementos filhos*/
    justify-content: space-between;
    /* alinha os filhos no sentido do flex*/
    align-items: center;
    /*alinnha os filhos no sentido contrario do flex */
}

#cabecalho>img {
    width: 100px;
    /*largura*/
    height: 100px;
    /*altura*/
}

#cabecalho>nav {
    display: flex;
    /* align-items: center;*/
    gap: 10px;
}

#cabecalho>nav>a {
    color: #0000;
    text-decoration: none;
    /*a decoracao do texto, neste caso, o link*/
    font-size: 16px;
    /*tamanho da fontes*/

}

#filme {
    display: flex;
    width: 100px;
    height: 100px;
    color: #fa0000cc;
    text-decoration: none;
    font-size: 20px;
}